---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Link from "../../components/Link.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const allPosts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout title={`${SITE_TITLE} | Blog`} description={SITE_DESCRIPTION}>
  <div class="pt-8 mb-12 flex justify-center gap-8">
    <Link href="/">Home</Link>
    <Link href="/blog">Blog</Link>
    <Link href="/blog/posts">All Posts</Link>
  </div>
  <div class="flex flex-col gap-20">
    {
      allPosts.map((post) => (
        <Link class="no-underline" href={`/blog/${post.slug}/`}>
          <div class="flex items-center gap-4">
            <h3 class="text-2xl">{post.data.title} </h3>
            <span class="text-base text-gray-400 dark:text-gray-500 italic">
              <FormattedDate date={post.data.pubDate} />
            </span>
          </div>
          <p class="text-gray-500 dark:text-gray-400">
            {post.data.description}
          </p>
        </Link>
      ))
    }
  </div>
</BaseLayout>
